header{
    background: var(--primary-background);
    color: var(--header-text);
    padding: 20px 40px;
    box-shadow: 0 2px 4px var(--header-text);
    font-family: var(--primary-font-family);

}
header p {
    color: var(--text-primary)
}
body {
    font-family: var(--primary-font-family);
    margin: 0;
    padding: 0;
    background-color : var(--body-background);
    color: var(--text-primary);
}

/* Navigation Styles */
nav {
    background-color: var(--primary-nav);
    color: var(--nav-text);
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: var(--text-on-primary);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: var(--list-hover);

}

#page a {
    padding: 10px 20px;
      border: none;
      border-radius: 5px; /* Simple and effective border radius */
      background-color: var(--button-background); /* Using the button background color */
      color: var(--text-on-primary); /* Text color on primary button background */
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s, box-shadow 0.3s;
    text-decoration: none;
    text-align: center;
}



/* Section Styles */
section {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid var(--primary-background);
    border-radius: 8px;
    
}

/* ID-based styles for different sections */
#balance, #strength, #mobility {
    background-color: var(--primary-border);
    border: 1px solid var(--primary-border);
    border-radius: 8px;
}

#intro{
    background-color: var(--section-background);
    border: 1px solid var(--primary-border);
    border-radius: 8px;
}

#progressions {
    background-color: var(--section-background);
}

#flexion, #extension {
    background-color: var(--section-background);
}

h1, h2, h3 {
    color: var(--header-text);
    font-family: var(--primary-font-family);
}


/* Skill Description Styles */
.skill {
    border-bottom: 1px solid var(--primary-border);
}

.skill h3 {
    margin-top: 0;
}

.skill a {
    display: inline-block;
    background-color: var(--button-background);
    color: var(--text-on-primary);
}

.skill a:hover {
    background-color: var(--primary-hover);
}

/* Footer Styles */
footer {
    background-color: var(--footer-background);
    color: var(--footer-text);
}